<style type="text/css">
		.box{
     background-color:skyblue;
     width:100%;
     height:110%;
		}
    </style>
    <div class="box">

<center><h1><font color="green"> {{ s }} </font></h1></center>
<center><b><h1><font color="green"><i>WORD COUNT</i></font></h1></b></center>
<center><h2><font color="purple"><p>Specifically, delightful clothes that make life easier and more enjoyable.</p> <p>Our goal is to make every clothes you need for your daily routines.</p><p> We hope you look and feel your best when wearing a dress .</p></font></h2>
</center>
<center>
<h2><u><font color="darkpurple">DResS For SHopPeRS</font></u></h2><center>
<p><h3><font color="blue"><p>We provide dresses to have long, useful lives.</p><p>To decrease the users suffering and to reduce wasting of their time we takes this kind of steps as like online shopping and payment.</p><p>And hopefully this kind of steps removes user borness.</p><p>Shopers can easily purchase different types of dresses according to the gender.</p></font></h3></p></font>
</center>
</center>
<center><font color="darkgreen"><h2><p>Our vision is that</p>
<p>everyone has a</p>
<p><b>Dressio</b> with them</p>
<p>all the time </p>
</h2>

</font>
<a href="{% url 'home' %}">Return home</a>
</div>
<!--<button id="close" class="closing" onClick="javascript:close_clip()"><img src="dressio.jpg" style="width: 2%" /></button>-->
<!--<div class="box1" align="right">-->
